{{> header }}



<table id ="oddsTable"> 
    
    
    
    {{!-- {{{Test}}}  --}}
    {{!-- I am struggling to find a way to make the following code Wait until the API call is returned. 
    Even if I add in a sleep, then it will continue executing this whole page before it will get the result of the API call --}}
    
   
    {{!-- {{{WaitUntilAPIDataIsReturned}}} --}}
    
    
    {{{CreateTable}}} 
     

   

    
    
</table>

