{{> header }}



<table id ="oddsTable"> 
    <tr>
        <th id="test">Figth Card Title</th>
        <th id ="test2">Unibet</th>
        <th>Ladbrokes</th>
        <th>Betfred</th>
        <th>Betfair</th>
        <th>PaddyPower</th>
        <th>Sport888</th>
        <th>Matchbook</th>
        <th>Marathon</th>
        <th>NordicBet</th>
    </tr>
    
    
    
    {{!-- {{{Test}}}  --}}
    {{!-- I am struggling to find a way to make the following code Wait until the API call is returned. 
    Even if I add in a sleep, then it will continue executing this whole page before it will get the result of the API call --}}
    

    {{!-- {{{Sleep}}} --}}

    {{!-- {{{WaitUntilAPIDataIsReturned}}} --}}
    
    
    {{{CreateTableRows}}}  

   

    
    
</table>

