{{> header }}

<h1>Hello caaaaaants</h1>


<table id ="oddsTable"> 
    <tr>
        <th id="test">Figth Card Title</th>
        <th id ="test2">Unibet</th>
        <th>Ladbrokes</th>
        <th>Betfred</th>
        <th>Betfair</th>
        <th>PaddyPower</th>
        <th>Sport888</th>
        <th>Matchbook</th>
        <th>Marathon</th>
        <th>NordicBet</th>
    </tr>

    {{{WaitUntilAPIDataIsReturned}}}
   
    
    {{{CreateTableRows}}}

    

    
    
</table>

